<app-navbar-admin></app-navbar-admin>

<div class="container cabecera">
  <div class="text-center">
    <hr>
    <h4 style="color: steelblue">Administración de Opciones</h4>
    <hr>
  </div>
</div>

<div class="container registro">
  <h1>Opción: <small>{{opcion.nombre}}</small></h1><br>


  <form (ngSubmit)="guardar()" #forma ="ngForm">

    <div class="row">
      <div class=" col-md-12 col-12">
        <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength)&& nombre.touched}">
          <label  class="col-md-2 col-12 col-form-label">Nombre:    <strong class="requerido">*</strong></label>
          <div class="col-md-10 col-12">
            <input class="form-control"
                   type="text"
                   placeholder="Nombre"
                   name="nombre"
                   #nombre="ngModel"
                   required
                   minlength="3"
                   [(ngModel)]="opcion.nombre" autofocus="">
            <div class="form-control-feedback" *ngIf="nombre.errors?.required">
            </div>
            <div class="form-control-feedback" *ngIf="nombre.errors?.minlength">
              minimo 3 caracteres
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 col-12">
        <div class="text-right from-group">
          <button [routerLink]="['/registrar-producto', 'nuevo']"
                  type="button" class="btn btn-outline-primary">Cancelar</button>
          <button type="submit"
                  class="btn btn-outline-primary"
                  [disabled]="!(forma.valid && habilitarBoton)">
            Guardar</button>
        </div>
      </div>
      <div class="col-md-12 col-12 text-right requerido">
        <p><strong>*</strong> Campos Requeridos</p>
      </div>
    </div>

  </form>

</div>
<div class="container">
  <h5>Categorias Registradas</h5>

  <table class="table table-bordered">
    <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nombre
      <th>Administrar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let op of pagedItems; let i = index">
      <th>{{i+1}}</th>
      <td>{{op.nombre}}</td>
      <td>
        <button [routerLink]="['/opcion',op.id]"
                type="button" class="btn btn-outline-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
        <button (click)="eliminar(op.id, i)"
                type="button" class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
      </td>

    </tr>
    </tbody>
  </table>


</div>

<div class="container">
  <nav aria-label="Page navigation example">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.currentPage + 1)" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</div>
