<div class="container footer-marcas">
  <h5>Nuestras Marcas</h5>
</div>
<div class="container footer-top">
  <div class="row">
    <div class="col-4">
      <h6>Acerca de Nosotros </h6>
    </div>
    <div class="col-4">
      <h6>Contacto</h6>
    </div>
    <div class="col-4">
      <h6>Síguenos</h6>
    </div>
  </div>
</div>


<footer class="footer footer-buttom">
  <div class="container">
    <span class="text-muted">© Copyrignt SidealtComp Cia LTDA. ®Todos los derechos reservados 2017</span>
    <p><span class="text-muted">Implementado por</span></p>
  </div>
</footer>
