<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" id="mainNav">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <a class="navbar-brand" [routerLink] = "['home']">{{empresaNombre}}</a>
    <img class="img-logo" [src]="empresaImg">

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink] = "['/home']">Inicio</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink] = "['/productos']">Productos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink] = "['/contactanos']">Contáctenos</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item" routerLinkActive="active" [hidden]="hide">
          <a class="nav-link" [routerLink] = "['/registrarse']">Registrarse</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [hidden]="hide">
          <a class="nav-link" [routerLink] = "['/login']">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [hidden]="!hide">
          <a class="nav-link"(click)="salir()">Salir</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink] = "['/carrito']" id="carrito"><span class="fa fa-cart-plus fa-1x fa-inverse"
                                                                  aria-hidden="true"></span>{{carrito.length}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
