.cabecera{
  margin-top: 100px;
  border-bottom: 1px solid #D3D3D3;
}

a{
  cursor: pointer;
}

.card-image{
  width: 235px;
  height: 180px;
}

.card-prod{
  margin-bottom: 25px;
}

.precio{
  color: #26a3e4;
}

.btn-carrito{

}
