<app-navbar></app-navbar>

<div class="cabecera container">
  <h2>Celulares</h2>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" *ngFor="let cell of listaCelulares; let i=index">
        <div class="card-block">
          <img class="card-img-top" [src]="cell.imagen" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{cell.marca}} {{cell.modelo}}</h4>
            <p class="card-text">{{cell.descripcion}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{cell.precio}}</small>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
