<app-navbar-admin></app-navbar-admin>

<div class="cabecera container">
  <h2>Administración de Categorias</h2>
</div><br>

<div class="container registro">
  <h1>Categoria: <small>{{categoria.nombre}}</small></h1><br>


  <form (ngSubmit)="guardar()" #forma ="ngForm">

    <div class="row">
      <div class=" col-md-12 col-12">
        <div class="form-group row">
          <label  class="col-md-2 col-12 col-form-label">Nombre: </label>
          <div class="col-md-10 col-12">
            <input class="form-control" type="text" placeholder="Nombre"
                   name="nombre" [(ngModel)]="categoria.nombre" autofocus="">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 col-12">
        <div class="text-right from-group">
          <button type="submit" class="btn btn-outline-primary">Guardar</button>
          <button [routerLink]="['/registrar-producto', 'nuevo']"
                  type="button" class="btn btn-outline-warning">Cancelar</button>
        </div>
      </div>
    </div>

  </form>

</div>
<div class="container">
  <h5>Categorias Registradas</h5>

  <table class="table table-striped">
    <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Nombre
      <th>Administrar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let categoria of categorias; let i = index">
      <th>{{i+1}}</th>
      <td>{{categoria.nombre}}</td>
      <td>
        <button [routerLink]="['/categoria',categoria.id]"
                type="button" class="btn btn-info">Editar</button>
        <button (click)="eliminar(categoria.id, i)"
                type="button" class="btn btn-danger">Eliminar</button>
      </td>

    </tr>
    </tbody>
  </table>


</div>
