.footer-nosotros{
  background-color: #121212;
  color: white;
  margin-top: 20px;
  border-top: 1px solid #D3D3D3;
  padding-top:20px;
  padding-left: 50px;
}
 .siguenos a{
   color: white;
 }
.siguenos a:hover{
  color: #3fa6d3;
}
