<div class="footer-nosotros">
  <div class="row">
    <div class="col-md-4 col-12">
      <h6>CONTACTO</h6>
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> Iñaquito E2-32 y Unión Nacional de Periodistas, Edificio UNP 3er. Piso</p>
      <p><i class="fa fa-envelope" aria-hidden="true"></i> geo@hotmail.com</p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> (02) 3 371 248</p>
      <p><i class="fa fa-mobile" aria-hidden="true"></i> 099729764(whatsApp)</p>

      <div class="siguenos">
        <a [hidden]="!facebookUrl" [href]="facebookUrl" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a [hidden]="!youtubeUrl" [href]="youtubeUrl" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
        <a [hidden]="!twitterUrl" [href]="twitterUrl" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
        <a [hidden]="!googleUrl" [href]="googleUrl" target="_blank"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="col-md-4 col-12 cont-logo">
      <h6></h6>
      <img class="logo rounded mx-auto d-block" [src] =" logo"><br>
      <p>Compra rapida, Compra segura</p>
    </div>
    <div class="col-md-4 col-12">
      <h6>VISÍTANOS</h6>
      <agm-map [latitude]="lat"
               [longitude]="lng"
               [zoom]="zoom">

        <agm-marker [latitude]="lat"
                    [longitude]="lng">
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
