<app-navbar></app-navbar>

<div class="container">
  <div class="cabecera">
    <h2>Crear una Cuenta</h2>
  </div><br>
</div>

<div class="container registro">
  <div></div>
  <form>
    <div class="form-group row">
      <div class="col-md-6 col-12">
        <label class="col-form-label">Nombre: </label>
        <input type="text" class="form-control" autofocus="">
      </div>
      <div class="col-md-6 col-12">
        <label class="col-form-label">Apellido: </label>
        <input type="text" class="form-control col-md-6"  placeholder="Apellido">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 col-12">
        <label class="col-form-label">Teléfono: </label>
        <input type="number" class="form-control col-md-6" placeholder="Telefono">
      </div>
      <div class="col-md-6 col-12">
        <label class="col-form-label">Movil: </label>
        <input type="number" class="form-control col-md-6"  placeholder="Movil">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 col-12">
        <label class="col-form-label col-md-6">Dirección de Email: </label>
        <input type="email" class="form-control col-md-6" placeholder="Email">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 col-12">
        <label class="col-form-label">Password</label>
        <input type="password" class="form-control col-md-6" placeholder="Password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>

</div>

<app-nosotros></app-nosotros>
