<app-navbar></app-navbar>

<div class="cabecera container">
  <h2>Verificación de datos</h2>
</div><br>

<div class="container registro"  *ngFor="let cli of verificacioncliente; let i=index">
  <form (ngSubmit)="registrar()" #form="ngForm" >

    <div class="form-group row">
      <div class="col-md-6 col-12">
        <label class="col-form-label">Dirección de Email: </label>
        <label #email name="email" type="email" class="form-control">{{cli.email}} </label>
      </div>
    </div>

    <div class="form-group row" >
      <div class="col-md-6 col-12">
        <label class="col-form-label" >Nombre: </label>
        <input [(ngModel)]="cli.nombre" #nombre name="nombre" type="text" class="form-control" placeholder="Nombre" autofocus="">
      </div>
      <div class="col-md-6 col-12">
        <label class="col-form-label">Apellido: </label>
        <input [(ngModel)]="cli.apellido" #apellido name="apellido" type="text" class="form-control"  placeholder="Apellido">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 col-12">
        <label class="col-form-label">Teléfono: </label>
        <input [(ngModel)]="cli.telefono" #telefono name="telefono" type="number" class="form-control" placeholder="Telefono">
      </div>
      <div class="col-md-6 col-12">
        <label class="col-form-label">Movil: </label>
        <input [(ngModel)]="cli.movil" #movil name="movil" type="number" class="form-control"  placeholder="Movil">
      </div>
    </div>


    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>

</div>

