<app-navbar></app-navbar>

<div id="myCarousel" class="carousel slide" style="margin-bottom: 15px;" data-ride="carousel">
   <ol class="carousel-indicators" >
     <li data-target="#myCarousel" *ngFor="let img of empresaCarousel; let i=index" [attr.data-slide-to]="i" ngClass="i == 0 ? 'active' : ''"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
        <div *ngFor="let img of empresaCarousel; let i=index" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">
          <img class="first-slide img-fluid" [src]="img" alt="First slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-left">
            </div>
          </div>
        </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>

<div class="container">
  <div class="row">

    <div class="col-md-9">

      <div class="text-center">
        <hr>
        <h4 style="color: steelblue">Productos en oferta</h4>
        <hr>
      </div>

      <br>

      <div class="row">
        <div class=" col-md-4 col-sm-6 col-xs-6 img-prod cc-imagewrapper"
             *ngFor="let promo of pagedItems; let i=index">

          <div style="position: absolute; z-index: 100">
            <img src="../../../assets/img/oferta.png" class="oferta">
          </div>
          <a [routerLink]="['/producto', promo.id, promo.modelo]" (click)="detalles()" >
            <img class="card-img-top card-image img-fluid " [src]="promo.imagen" alt="Card image cap">
          </a>
          <figcaption style=" padding: 0px; margin-bottom: 44px">
            <a class="card-text" [routerLink]="['/producto', promo.id, promo.modelo]" (click)="detalles()">
              <h6>{{promo.marca}} {{promo.modelo}}</h6>
            </a>
            <del>{{promo.precio | currency}}</del>
            <span class="precio"><h6>{{promo.precio_promo | currency}}</h6></span>
          </figcaption>

          <a class="añadir" (click)="anadir(promo)" style="color: #1a86d8">
            Añadir <i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>

      </div>

      <br>

      <div class="container">
        <nav aria-label="Page navigation example">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
              <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a (click)="setPage(pager.currentPage + 1)" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>

    <div class="col-md-3">

      <br><br><br><br><br>

      <div class="ih-item circle colored effect2 left_to_right imgcircle">
          <a [routerLink] = "['/login']">
              <div class="img"><img src="../../../assets/img/login_icon.png" alt="img"></div>
              <div class="info">
                    <h3>Login</h3>
                    <p>Registrate</p>
              </div>
          </a>
      </div>

      <br><br><br>

      <div class="ih-item circle colored effect13 bottom_to_top imgcircle">
          <a [routerLink] = "['/productos']">
              <div class="img"><img src="../../../assets/img/carrito_ico.png" alt="img"></div>
              <div class="info">
                  <div class="info-back">
                      <h3>Productos</h3>
                      <p>Observe todos nuestros productos</p>
                  </div>
              </div>
          </a>
      </div>

      <br><br><br>

      <div class="ih-item circle colored effect5 imgcircle">
          <a [routerLink] = "['/contactanos']">
              <div class="img"><img src="../../../assets/img/contacto.png" alt="img"></div>
              <div class="info">
                  <div class="info-back">
                      <h3>Contacto</h3>
                      <p>Información de la empresa</p>
                  </div>
              </div>
          </a>
      </div>

    </div>
  </div>
</div>

<swal id="swal"></swal>
<app-nosotros></app-nosotros>
<br>


