.cabecera{
  margin-top: 100px;
  border-bottom: 1px solid #D3D3D3;
}

a{
  cursor: pointer;
}

.card-image{
  width: 235px;
  height: 180px;
}

.precio{
  color: #26a3e4;
}

.card-text {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.card-text:hover {
  width: auto;
  white-space: initial;
  overflow:visible;
  cursor: pointer;
}

.card-prod{
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  height: auto;
}


.categoria ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  width: 170px;
}

.categoria li button {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.categoria li button:hover {
  background-color: #555;
  color: white;
}

.categoria button{
  width: 170px;
  height: 40px;
  text-align: left;
}

.categoria li:first-child button {
  font-size: 12px;
  color: white;
  background-color: #555;
}

