.cabecera{
  margin-top: 100px;
  border-bottom: 1px solid #D3D3D3;
}

a{
  cursor: pointer;
}

.card-image{
  width: 235px;
  height: 180px;
}

.precio{
  color: #26a3e4;
}

.card-text {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
.card-text:hover {
  width: auto;
  white-space: initial;
  overflow:visible;
  cursor: pointer;
}

.card-prod{
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  height: auto;
}


