<app-navbar></app-navbar>

<br>

<div class="container">
  <div class="row text-center">
    <!-- colored -->
    <div class=" col-md-4  ih-item square colored effect6 from_top_and_bottom text-center"
         style="border: solid 1px #D3D3D3;"
         *ngFor="let categoria of listaCategorias; let i=index">
        <div *ngIf="categoria.productos.length != 0; else nada">
          <a>
            <div class="img">
              <img [src]="categoria.productos[0].imagen[0]" alt="img" style="width:240px; height: 220px;">
            </div>
            <div class="info">
              <h3>{{categoria.nombre}}</h3>
              <h5 style="color: white">Existen {{categoria.productos.length}} productos..</h5>
              <br>
              <button class="btn btn-outline-info" [routerLink]="['/filtros', categoria.nombre]">Observar</button>
            </div>
          </a>
        </div>
        <ng-template #nada>
          <a>
            <div class="img">
              <img src="../../../assets/img/noimagen.png" alt="img" style="width:240px; height: 220px;">
            </div>
            <div class="info">
              <h3>{{categoria.nombre}}</h3>
              <h5 style="color: white">Categoría sin productos</h5>
            </div>
          </a>
        </ng-template>
    </div>
    <!-- end colored -->
  </div>
</div>

<br><br>

<app-nosotros></app-nosotros>
