.cabecera{
  margin-top: 100px;
  border-bottom: 1px solid #D3D3D3;
}

.registro{
  background-color: #E9EAEE;
  padding-top: 25px;
  padding-bottom: 25px;
}
input:focus {
  background-color: #8DB4E7;
}
textarea:focus {
  background-color: #8DB4E7;
}

select:focus{
  background-color: #8DB4E7;
}
