<app-navbar></app-navbar>
<br><br><br><br>

<div class="container"  *ngFor="let inf of informacion; let i=index">

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">
            <p>Datos cliente: </p>
          </div>
          <div class="col-md-8" style="text-align: right">
            <p>{{inf.nombre}} {{inf.apellido}}</p>
            <p>{{inf.telefono}}/{{inf.movil}}</p>
            <p *ngIf="inf.callePrincipal && inf.numCasa && inf.calleSecundaria; else dir">{{inf.callePrincipal}} {{inf.numCasa}} y {{inf.calleSecundaria}}</p>
                <ng-template #dir><p></p></ng-template>
            <p *ngIf="inf.provincia && inf.ciudad; else ciudad">{{inf.provincia}}/{{inf.ciudad}}</p>
                <ng-template #ciudad><p></p></ng-template>
            <p>{{inf.email}}</p>
          </div>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of pedido.carritopedido; let i=index">
            <td><img class="table-img" [src]="item.imagen" style="width: 50px; height: 50px;"></td>
            <td>
              {{item.marca}} {{item.modelo}}
              <p *ngIf="item.opciones.length != 0; else op"><strong>Detalle: </strong>{{item.opciones}}</p>
              <ng-template #op><p></p></ng-template>
            </td>
            <td *ngIf="item.precio_promo; else precio" id="precio_{{i}}">$ {{item.precio_promo }}</td>
            <ng-template #precio><td id="precio_{{i}}">$ {{item.precio}}</td></ng-template>
            <td>{{item.cantidad }}</td>
            <td *ngIf="item.precio_promo; else sub" id="subtotal_{{i}}">$ {{ item.subtotal }}</td>
            <ng-template #sub><td id="subtotal_{{i}}">$ {{item.subtotal}}</td></ng-template>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3"></td>
            <td colspan="1"><strong>Valor Total:</strong></td>
            <td colspan="2">$ {{pedido.preciototal}} </td>
          </tr>
          </tfoot>
        </table>
      </div>

      <div class="col-md-6">
        <app-paypal></app-paypal>
        <!--<div id="paypal-button"></div>-->
      </div>

    </div>

    <div><button type="submit" (click)="comprar()" class="btn btn-primary">Comprar</button></div>

</div>
