.cabecera{
  margin-top: 100px;
  border-bottom: 1px solid #D3D3D3;
}

.registro{
  background-color: #E9EAEE;
  padding-top: 25px;
  padding-bottom: 25px;
}
input:focus {
  background-color: #8DB4E7;
}
textarea:focus {
  background-color: #8DB4E7;
}

select:focus{
  background-color: #8DB4E7;
}

.requerido{
  color: red;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */

#seleccionarImagen {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: serif;
  font-size: 17px;
}
#seleccionarCarrusel{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 6px;
  padding-left: 6px;
  font-family: serif;
  font-size: 17px;
}
.img-edit{
  width: 75px;
  height: 75px;
}

.carousel{
  padding: 20px 10px 20px 10px;
  border: 1px solid #A9ACB4;
}
