/*@import "../../../../node_modules/primeng/resources/primeng.css";
@import "../../../../node_modules/primeng/resources/themes/omega/theme.css";*/

.cabecera{
  margin-top: 100px;
  border-bottom: 1px solid #D3D3D3;
}

.form-signin{
  max-width: 330px;
  padding: 15px 15px 15px 15px;
  margin: 0 auto;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px 0px 0px 0px;
}
.form-control{
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
}
input:focus {
  background-color: #8DB4E7;
}
.registro{
  background-color: #E9EAEE;
  padding-top: 25px;
  padding-bottom: 25px;

}
