<h1>Marca: <small>{{marca.nombre}}</small></h1><br>


<form (ngSubmit)="guardar()" #forma ="ngForm">

  <div class="form-group row">
    <label  class="col-2 col-form-label">Nombre: </label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Nombre"
             name="nombre" [(ngModel)]="marca.nombre">
    </div>
  </div>



  <div class="text-right from-group">
    <button type="submit" class="btn btn-outline-primary">Guardar</button>
    <button [routerLink]="['/registro', 'nuevo']"
            type="button" class="btn btn-outline-warning">Cancelar</button>
  </div>

</form>
<h1>Marcas Registradas</h1>

<table class="table table-striped">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>Nombre
    <th>Administrar</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let marca of marcas; let i = index">
    <th>{{i+1}}</th>
    <td>{{marca.nombre}}</td>
    <td>
      <button [routerLink]="['/marca',marca.id]"
              type="button" class="btn btn-info">Editar</button>
    </td>

  </tr>
  </tbody>
</table>
