.cabecera{
  margin-top: 100px;
  border-bottom: 1px solid #D3D3D3;
}
  /*CSS PARA NAR BAR VERTICAL*/

.filtro ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  width: 170px;
}

.filtro li button {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.filtro li button:hover {
  background-color: #555;
  color: white;
}

.filtro button{
  width: 170px;
  height: 40px;
  text-align: left;
}

.filtro li:first-child button {
  font-size: 12px;
  color: white;
  background-color: #555;
}
