<app-navbar-admin></app-navbar-admin>

<div class="container cabecera">
  <div class="text-center">
    <hr>
    <h4 style="color: steelblue">Administración de Productos</h4>

    <hr>
  </div>
</div>

<div class="container">
  <div class="text-right">
    <button [routerLink]="['/registrar-producto', 'nuevo']"
            type="button" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i> Nuevo Producto</button>
  </div><div></div>
  <div class="row">
    <div class="col-md-3">

      <div id='cssmenu'>
        <ul>
          <li routerLinkActive="active">
            <a [routerLink]="['/admin-productos', 'todos']">Todos</a>
          </li>
          <li routerLinkActive="active" *ngFor="let categoria of listaCategorias; let i = index">
            <a [routerLink]="['/admin-productos', categoria.nombre]">{{categoria.nombre}}</a>
          </li>

        </ul>
      </div>
    </div>
    <div class="col-md-9 table-responsive">
      <table class="table table-bordered">
        <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Imagen</th>
          <th>Marcar</th>
          <th>Modelo</th>
          <th>Precio</th>
          <th>Administrar</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of pagedItems; let i=index">
          <th>{{i+1}}</th>
          <td><img class="table-img" [src]="item.imagen" style="width: 50px; height: 50px;"></td>
          <td>{{item.marca}}</td>
          <td>{{item.modelo}}</td>
          <td>{{item.precio | currency}}</td>

          <td>
            <button [routerLink]="['/registrar-producto',item.id]"
                    type="button" class="btn btn-outline-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-outline-danger"
                    (click)="eliminar(item.id, i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="container">
        <nav aria-label="Page navigation example">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
              <a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
              <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
              <a (click)="setPage(pager.currentPage + 1)" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>

</div>
