<app-navbar-admin></app-navbar-admin>

<div class="cabecera container">
  <h2>Registrar nuevo Usuario</h2>
</div><br>

<div class="container registro">

  <form (ngSubmit)="guardar()" #form="ngForm">

    <div class="row">
      <div class="col-md-6 col-12">
        <div class="form-group" [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength)&& nombre.touched}" >
          <label class="col-md-12 col-form-label">Nombre  <strong class="requerido">*</strong></label>
          <div class="col-md-12">
            <input class="form-control"
                   type="text"
                   placeholder="Nombre"
                   name="nombre"
                   #nombre="ngModel"
                   required
                   minlength="3"
                   [(ngModel)]="usuario.nombre" autofocus="">
            <div class="form-control-feedback" *ngIf="nombre.errors?.required">
            </div>
            <div class="form-control-feedback" *ngIf="nombre.errors?.minlength">
              minimo 3 caracteres
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-12">
        <div class="form-group" [ngClass]="{'has-danger': (apellido.errors?.required || apellido.errors?.minlength)&& apellido.touched}" >
          <label class="col-md-12 col-form-label">Apellido   <strong class="requerido">*</strong></label>
          <div class="col-md-12">

            <input class="form-control"
                   type="text"
                   placeholder="Apellido"
                   name="apellido"
                   #apellido="ngModel"
                   required
                   minlength="3"
                   [(ngModel)]="usuario.apellido">
            <div class="form-control-feedback" *ngIf="apellido.errors?.required"></div>
            <div class="form-control-feedback" *ngIf="apellido.errors?.minlength">
              minimo 3 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group" [ngClass]="{'has-danger': (email.errors?.required || email.errors?.minlength)&& email.touched}" >
          <label class="col-md-12 col-form-label">Email    <strong class="requerido">*</strong></label>
          <div class="col-md-12">

            <input class="form-control"
                   type="email"
                   placeholder="email"
                   name="email"
                   #email="ngModel"
                   required
                   minlength="3"
                   pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                   [(ngModel)]="usuario.email">
            <div class="form-control-feedback" *ngIf="email.errors?.required">
            </div>
            <div class="form-control-feedback" *ngIf="email.errors?.minlength">
              Este campo require minimo 3 caracteres
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6 col-12">

        <div class="form-group" [ngClass]="{'has-danger': (telefono.errors?.required)&& telefono.touched}" >
          <label class="col-md-12 col-form-label">Teléfono   <strong class="requerido">*</strong></label>
          <div class="col-md-12">
            <input class="form-control"
                   type="number"
                   required
                   placeholder="Teléfono"
                   name="telefono"
                   #telefono="ngModel"
                   [(ngModel)]="usuario.telefono">
            <div class="form-control-feedback" *ngIf="telefono.errors?.required">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="form-group" [ngClass]="{'has-danger': (password.errors?.required || password.errors?.minlength)&& password.touched}" >
          <label class="col-md-12 col-form-label">Contraseña    <strong class="requerido">*</strong></label>
          <div class="col-md-12">

            <input class="form-control"
                   type="password"
                   placeholder=" Contraseña"
                   name="password"
                   #password="ngModel"
                   required
                   minlength="3"
                   [(ngModel)]="usuario.password">
            <div class="form-control-feedback" *ngIf="password.errors?.required">
            </div>
            <div class="form-control-feedback" *ngIf="password.errors?.minlength">
              minimo 3 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group" [ngClass]="{'has-danger': (password1.errors?.required || password1.errors?.minlength)&& password1.touched}" >
          <label class="col-md-12 col-form-label"> Verificar Contraseña <strong class="requerido">*</strong></label>
          <div class="col-md-12">

            <input class="form-control"
                   type="password"
                   placeholder="Verificar Contraseña"
                   name="password1"
                   #password1="ngModel"
                   required
                   minlength="3"
                   [(ngModel)]="usuario.password1">
            <div class="form-control-feedback" *ngIf="password1.errors?.required">
            </div>
            <div class="form-control-feedback" *ngIf="password1.errors?.minlength">
              Este campo require minimo 3 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="form-group">
          <label class="col-md-12 col-form-label"> Rol</label>
          <div class="col-md-12">
            <select class="form-control" id="rol"
                    name="rol"
                    #rol="ngModel"
                    required
                    [(ngModel)]="usuario.rol">
              <option selected>Seleccionar...</option>
              <option>Administrador</option>
              <option>Tecnico</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-12">

        <div class="form-group" [ngClass]="{'has-danger': (img.errors?.required)&& img.touched}" >
          <label class="col-md-12 col-form-label">Imagen URL   <strong class="requerido">*</strong></label>
          <div class="col-md-12">
            <input class="form-control"
                   type="url"
                   required
                   placeholder="Ingrese la URL"
                   name="img"
                   #img="ngModel"
                   [(ngModel)]="usuario.img">
            <div class="form-control-feedback" *ngIf="img.errors?.required">
            </div>
          </div>
        </div>
      </div>


    </div>

    <div class="text-right from-group">
      <button type="submit" class="btn btn-outline-primary">Guardar</button>
      <button [routerLink]="['/admin-usuarios']"
              type="button" class="btn btn-outline-warning">Cancelar</button>
      <div class="col-12 requerido">
        <p><strong>*</strong> Campos Requeridos</p>
      </div>
    </div>


  </form>

</div>


