<div class="container" id="buscador" text-center>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {{buscador.value.id}}
      <form class="form-inline">
        <input  ngui-auto-complete
                [formControl]="buscador"
                [source]="productos"
                [list-formatter]="autocompleListFormatter"
                value-property-name="id"
                display-property-name="modelo"
                max-num-list="5"
                placeholder="Busca tu producto"
                class="form-control">
        <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/producto', buscador.value.id, buscador.value.modelo]"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
