<app-navbar></app-navbar>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <div class="row">
        <div class="col-md-12">
          <img class="img-fluid img-producto" [imageZoom]="producto.imagen" [src]="producto.imagen" alt="Card image cap">
        </div>

        <div class="col-md-12">
          <ul class="img-list">
            <li *ngFor="let img of allImages.url, let i = index">
              <img [src]="img" (click)="cambiarImg(img)" class="rounded img-miniatura">
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2>{{producto.marca}} {{producto.modelo}}</h2>
        </div>
        <div class="col-md-12 description">
          <ul>
            <li *ngFor="let descripcion of splittedDescriipcion">{{descripcion}}</li>
          </ul>
        </div>
        <div class="col-md-12">
          <label class="custom-control custom-radio" *ngFor="let option of allOptions.opciones, let i = index">
            <input name="radio" type="radio" class="custom-control-input"
                   (click)="producto.opciones = option"
                   [checked]="option === producto.opciones">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{option}}</span>
          </label>

        </div>
        <div class="col-md-12">
          <h5 [hidden]="producto.precio_promo" class="precio">{{producto.precio | currency}}</h5>
          <del [hidden]="!producto.precio_promo">{{producto.precio | currency}}</del>
          <h5 [hidden]="!producto.precio_promo" class="precio">{{producto.precio_promo | currency}}</h5>
          <button type="button" class="btn btn-primary" (click)="anadir()">
            <span class="fa fa-cart-plus" aria-hidden="true"></span> Añadir al Carrito
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

  <br>

<div class="container text-center">
    <hr>
    <h4 style="color: steelblue">Más productos que te gustarán</h4>
    <hr>
</div>

<div class="container">

  <br>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 img-prod cc-imagewrapper"
         *ngFor="let filtro of pagedItems; let i=index">

      <div *ngIf="filtro.promocion == true; else oferta" style="position: absolute; z-index: 100">
        <img src="../../../assets/img/oferta.png" class="oferta">
      </div><ng-template #oferta></ng-template>

      <a [routerLink]="['/producto', filtro.id, filtro.modelo]"  (click)="detalles()">
        <img class="card-img-top card-image img-fluid " [src]="filtro.imagen" alt="Card image cap">
      </a>

      <figcaption style=" padding: 0px; margin-bottom: 44px">
        <a class="card-text" [routerLink]="['/producto', filtro.id, filtro.modelo]" (click)="detalles()">
          <h6>{{filtro.marca}} {{filtro.modelo}}</h6>
        </a>
        <div *ngIf="filtro.promocion == true; else precio">
          <del>{{filtro.precio | currency}}</del>
          <h6 class="precio">{{filtro.precio_promo | currency}}</h6>
        </div>
        <ng-template #precio>
          <div>
            <h6 class="precio">{{filtro.precio | currency}}</h6>
          </div>
        </ng-template>
      </figcaption>

      <a class="añadir"  style="color: #1a86d8" (click)="anadir2(filtro)">
        Añadir <i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>

  </div>
</div>

<div class="container">
  <nav aria-label="Page navigation example">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
      <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
        <a (click)="setPage(pager.currentPage - 1)" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li  *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
        <a (click)="setPage(page)" class="page-link">{{page}}</a>
      </li>

      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
        <a (click)="setPage(pager.currentPage + 1)" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</div>

<app-nosotros></app-nosotros>
